{% extends 'base.html' %}

{% block header_content %}

<a href="https://github.com/DESHRAJ/grad-cam" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:2000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="container">
    <div class="page-header">
        <h1 align="center">Grad-CAM: Gradient-weighted Class Activation Mapping</h1>
        <br><h4>Grad-CAM highlights regions of the image the VQA model looks at while making predictions.</h4>
        <font size="4">
            <p>
                Torch code for Grad-CAM is available <a href="//github.com/ramprs/grad-cam">here</a>. Browsers currently supported by the demo: Google Chrome, Mozilla Firefox.
            </p>
        </font>
    </div>
</div>

{% endblock %}

{% block form %}
<style type="text/css">

  .caption {
    font-size: 18px !important;
    font-weight: bold;
}

#inputAnswer, #predictedAnswer{
    font-weight: bold;
}

.under
{
position:absolute;
z-index:-1;
}

.over
{
position:absolute;
z-index:0;
mix-blend-mode: multiply;
}

#gradCamCaption{
  position: relative;
  padding-top: 350px;
}

.finalImages{
  width: 350px !important;
  height: 350px !important;
  padding: 6px;
}

.resultText{
  margin-bottom: 15px !important;
}

</style>

<div class="container">
  <div class="page-header">
    <h2 id="userImages">Try Grad-CAM on your images</h2>
  </div>

  <form id="my-dropzone" method="post" class="dropzone" action="{% url "upload" %}" enctype="multipart/form-data">
  <input type="hidden" id="demoType" name="demo_type" value=""> 
  <input type="hidden" id="appType" name="type" value="vqa"> 
  {% csrf_token %}

  {% include 'form.html' %}
  </form>

{% endblock %}


{% block result %}


<script type="text/javascript">

var answers = {
  "1":"yes",
  "2":"no",
  "3":"2",
  "4":"1",
  "5":"white",
  "6":"3",
  "7":"red",
  "8":"blue",
  "9":"4",
  "10":"green",
  "11":"black",
  "12":"yellow",
  "13":"brown",
  "14":"5",
  "15":"tennis",
  "16":"baseball",
  "17":"right",
  "18":"orange",
  "19":"bathroom",
  "20":"left",
  "21":"6",
  "22":"wood",
  "23":"frisbee",
  "24":"0",
  "25":"pink",
  "26":"pizza",
  "27":"gray",
  "28":"kitchen",
  "29":"skateboarding",
  "30":"cat",
  "31":"7",
  "32":"black and white",
  "33":"skiing",
  "34":"8",
  "35":"dog",
  "36":"surfing",
  "37":"water",
  "38":"snow",
  "39":"skateboard",
  "40":"10",
  "41":"wii",
  "42":"surfboard",
  "43":"man",
  "44":"kite",
  "45":"grass",
  "46":"purple",
  "47":"giraffe",
  "48":"eating",
  "49":"broccoli",
  "50":"stop",
  "51":"elephant",
  "52":"phone",
  "53":"apple",
  "54":"train",
  "55":"winter",
  "56":"umbrella",
  "57":"sheep",
  "58":"silver",
  "59":"horse",
  "60":"banana",
  "61":"motorcycle",
  "62":"9",
  "63":"laptop",
  "64":"beach",
  "65":"sunny",
  "66":"cake",
  "67":"brick",
  "68":"wine",
  "69":"woman",
  "70":"hat",
  "71":"12",
  "72":"bear",
  "73":"flowers",
  "74":"food",
  "75":"bananas",
  "76":"table",
  "77":"soccer",
  "78":"living room",
  "79":"female",
  "80":"bench",
  "81":"cow",
  "82":"bus",
  "83":"zebra",
  "84":"snowboarding",
  "85":"male",
  "86":"kites",
  "87":"11",
  "88":"hot dog",
  "89":"tennis racket",
  "90":"trees",
  "91":"helmet",
  "92":"night",
  "93":"fence",
  "94":"teddy bear",
  "95":"down",
  "96":"tile",
  "97":"tan",
  "98":"standing",
  "99":"camera",
  "100":"airport",
  "101":"outside",
  "102":"bat",
  "103":"bird",
  "104":"donut",
  "105":"cloudy",
  "106":"bed",
  "107":"christmas",
  "108":"zoo",
  "109":"tree",
  "110":"metal",
  "111":"cheese",
  "112":"20",
  "113":"bedroom",
  "114":"car",
  "115":"red and white",
  "116":"fork",
  "117":"palm",
  "118":"plane",
  "119":"cows",
  "120":"glass",
  "121":"bike",
  "122":"beer",
  "123":"chinese",
  "124":"suitcase",
  "125":"sitting",
  "126":"old",
  "127":"sandwich",
  "128":"carrots",
  "129":"boat",
  "130":"stripes",
  "131":"skis",
  "132":"blonde",
  "133":"glasses",
  "134":"15",
  "135":"up",
  "136":"chocolate",
  "137":"cell phone",
  "138":"13",
  "139":"nike",
  "140":"tv",
  "141":"walking",
  "142":"airplane",
  "143":"sand",
  "144":"chair",
  "145":"open",
  "146":"horses",
  "147":"birthday",
  "148":"mountains",
  "149":"fruit",
  "150":"fire hydrant",
  "151":"sunglasses",
  "152":"scissors",
  "153":"ocean",
  "154":"donuts",
  "155":"cold",
  "156":"wall",
  "157":"truck",
  "158":"tie",
  "159":"coffee",
  "160":"fall",
  "161":"many",
  "162":"girl",
  "163":"clear",
  "164":"usa",
  "165":"street",
  "166":"round",
  "167":"day",
  "168":"blue and white",
  "169":"toilet",
  "170":"plaid",
  "171":"snowboard",
  "172":"25",
  "173":"cooking",
  "174":"nothing",
  "175":"ski poles",
  "176":"wedding",
  "177":"wetsuit",
  "178":"knife",
  "179":"boy",
  "180":"ball",
  "181":"breakfast",
  "182":"sleeping",
  "183":"mirror",
  "184":"asian",
  "185":"africa",
  "186":"people",
  "187":"afternoon",
  "188":"toothbrush",
  "189":"plate",
  "190":"paper",
  "191":"on table",
  "192":"elephants",
  "193":"square",
  "194":"stone",
  "195":"mountain",
  "196":"window",
  "197":"dirt",
  "198":"couch",
  "199":"clock",
  "200":"city",
  "201":"no one",
  "202":"evening",
  "203":"14",
  "204":"zebras",
  "205":"happy",
  "206":"chicken",
  "207":"building",
  "208":"sun",
  "209":"backpack",
  "210":"police",
  "211":"playing wii",
  "212":"daytime",
  "213":"fish",
  "214":"luggage",
  "215":"flying kite",
  "216":"plastic",
  "217":"lot",
  "218":"spoon",
  "219":"on wall",
  "220":"park",
  "221":"england",
  "222":"remote",
  "223":"picture",
  "224":"oranges",
  "225":"brushing teeth",
  "226":"birds",
  "227":"restaurant",
  "228":"refrigerator",
  "229":"pine",
  "230":"50",
  "231":"watch",
  "232":"very",
  "233":"jeans",
  "234":"graffiti",
  "235":"brown and white",
  "236":"summer",
  "237":"rainy",
  "238":"background",
  "239":"talking on phone",
  "240":"sidewalk",
  "241":"safety",
  "242":"leaves",
  "243":"hay",
  "244":"concrete",
  "245":"carrot",
  "246":"16",
  "247":"motorcycles",
  "248":"bicycle",
  "249":"american",
  "250":"none",
  "251":"in water",
  "252":"child",
  "253":"umbrellas",
  "254":"overcast",
  "255":"gold",
  "256":"giraffes",
  "257":"field",
  "258":"wii remote",
  "259":"playing tennis",
  "260":"microwave",
  "261":"catcher",
  "262":"resting",
  "263":"floor",
  "264":"towel",
  "265":"rocks",
  "266":"ground",
  "267":"24",
  "268":"pepperoni",
  "269":"milk",
  "270":"london",
  "271":"coca cola",
  "272":"circle",
  "273":"books",
  "274":"30",
  "275":"heart",
  "276":"floral",
  "277":"checkered",
  "278":"vegetables",
  "279":"racket",
  "280":"church",
  "281":"apples",
  "282":"tomato",
  "283":"surfboards",
  "284":"middle",
  "285":"in air",
  "286":"double decker",
  "287":"vase",
  "288":"small",
  "289":"rainbow",
  "290":"person",
  "291":"on",
  "292":"light",
  "293":"flower",
  "294":"box",
  "295":"bag",
  "296":"pitcher",
  "297":"closed",
  "298":"bridge",
  "299":"shadow",
  "300":"rain",
  "301":"new york",
  "302":"sink",
  "303":"morning",
  "304":"clouds",
  "305":"bowl",
  "306":"gas",
  "307":"umpire",
  "308":"rock",
  "309":"parking meter",
  "310":"keyboard",
  "311":"taking picture",
  "312":"grazing",
  "313":"sandals",
  "314":"inside",
  "315":"100",
  "316":"striped",
  "317":"leather",
  "318":"bread",
  "319":"triangle",
  "320":"lights",
  "321":"drinking",
  "322":"baby",
  "323":"wire",
  "324":"reading",
  "325":"ketchup",
  "326":"blanket",
  "327":"salad",
  "328":"rope",
  "329":"china",
  "330":"sunset",
  "331":"purse",
  "332":"on left",
  "333":"computer",
  "334":"adidas",
  "335":"wilson",
  "336":"roses",
  "337":"road",
  "338":"18",
  "339":"jumping",
  "340":"dessert",
  "341":"canada",
  "342":"bears",
  "343":"river",
  "344":"hot dogs",
  "345":"goggles",
  "346":"young",
  "347":"texting",
  "348":"hotel",
  "349":"glove",
  "350":"dell",
  "351":"skate park",
  "352":"shorts",
  "353":"passenger",
  "354":"on plate",
  "355":"house",
  "356":"electric",
  "357":"desk",
  "358":"book",
  "359":"17",
  "360":"train station",
  "361":"soup",
  "362":"playing",
  "363":"photographer",
  "364":"oven",
  "365":"mouse",
  "366":"counter",
  "367":"cars",
  "368":"tracks",
  "369":"shirt",
  "370":"rose",
  "371":"red and yellow",
  "372":"rectangle",
  "373":"plant",
  "374":"olives",
  "375":"office",
  "376":"home",
  "377":"electricity",
  "378":"beige",
  "379":"windows",
  "380":"seagull",
  "381":"red and blue",
  "382":"guitar",
  "383":"gloves",
  "384":"star",
  "385":"spinach",
  "386":"shade",
  "387":"noon",
  "388":"large",
  "389":"delta",
  "390":"top",
  "391":"tennis ball",
  "392":"stop sign",
  "393":"smoke",
  "394":"wind",
  "395":"sky",
  "396":"sign",
  "397":"on ground",
  "398":"jacket",
  "399":"helmets",
  "400":"flying",
  "401":"branch",
  "402":"tabby",
  "403":"decoration",
  "404":"cutting board",
  "405":"bottom",
  "406":"tomatoes",
  "407":"tennis court",
  "408":"taking off",
  "409":"steam",
  "410":"stainless steel",
  "411":"sneakers",
  "412":"rug",
  "413":"lettuce",
  "414":"cup",
  "415":"basket",
  "416":"short",
  "417":"lemon",
  "418":"jet",
  "419":"indoors",
  "420":"head",
  "421":"both",
  "422":"wii controller",
  "423":"toy",
  "424":"stove",
  "425":"real",
  "426":"orange juice",
  "427":"oak",
  "428":"mustard",
  "429":"lab",
  "430":"clay",
  "431":"calm",
  "432":"blinds",
  "433":"white and blue",
  "434":"trash can",
  "435":"toilet paper",
  "436":"red and black",
  "437":"peppers",
  "438":"long",
  "439":"hot",
  "440":"hand",
  "441":"flag",
  "442":"fan",
  "443":"spring",
  "444":"ski",
  "445":"shoes",
  "446":"ponytail",
  "447":"fire",
  "448":"blue and yellow",
  "449":"40",
  "450":"water skiing",
  "451":"urban",
  "452":"swimming",
  "453":"school",
  "454":"samsung",
  "455":"protection",
  "456":"pictures",
  "457":"pepsi",
  "458":"parking",
  "459":"on desk",
  "460":"market",
  "461":"flip flops",
  "462":"tea",
  "463":"talking",
  "464":"suit",
  "465":"scarf",
  "466":"posing",
  "467":"polar",
  "468":"on bed",
  "469":"landing",
  "470":"english",
  "471":"diamond",
  "472":"collar",
  "473":"at camera",
  "474":"trash",
  "475":"raining",
  "476":"parrot",
  "477":"oval",
  "478":"laying down",
  "479":"good",
  "480":"bricks",
  "481":"boats",
  "482":"away",
  "483":"shelf",
  "484":"running",
  "485":"rice",
  "486":"pole",
  "487":"meat",
  "488":"lake",
  "489":"india",
  "490":"fridge",
  "491":"fork and knife",
  "492":"clothes",
  "493":"carpet",
  "494":"unknown",
  "495":"turkey",
  "496":"straw",
  "497":"playing frisbee",
  "498":"parasailing",
  "499":"lamp",
  "500":"cross",
  "501":"color",
  "502":"chef",
  "503":"bottle",
  "504":"boots",
  "505":"yellow and blue",
  "506":"strawberries",
  "507":"skateboards",
  "508":"polo",
  "509":"orange and white",
  "510":"one way",
  "511":"headphones",
  "512":"balance",
  "513":"strawberry",
  "514":"steel",
  "515":"p",
  "516":"octagon",
  "517":"military",
  "518":"headband",
  "519":"front",
  "520":"fries",
  "521":"dogs",
  "522":"dinner",
  "523":"bicycles",
  "524":"19",
  "525":"skateboarder",
  "526":"pillow",
  "527":"parking lot",
  "528":"parade",
  "529":"napkin",
  "530":"flying kites",
  "531":"cutting cake",
  "532":"cowboy",
  "533":"blender",
  "534":"bikes",
  "535":"23",
  "536":"shower",
  "537":"ring",
  "538":"pug",
  "539":"polar bear",
  "540":"on sidewalk",
  "541":"mercedes",
  "542":"japan",
  "543":"hydrant",
  "544":"granite",
  "545":"german",
  "546":"dirty",
  "547":"cutting",
  "548":"collie",
  "549":"carriage",
  "550":"asia",
  "551":"2 feet",
  "552":"tower",
  "553":"soda",
  "554":"reflection",
  "555":"outdoors",
  "556":"off",
  "557":"ford",
  "558":"dunkin donuts",
  "559":"duck",
  "560":"coke",
  "561":"clean",
  "562":"chain link",
  "563":"beef",
  "564":"above",
  "565":"wine glass",
  "566":"surf",
  "567":"spanish",
  "568":"pen",
  "569":"mcdonald's",
  "570":"indian",
  "571":"hit ball",
  "572":"fake",
  "573":"dusk",
  "574":"dress",
  "575":"chopsticks",
  "576":"bracelet",
  "577":"baseball bat",
  "578":"air",
  "579":"22",
  "580":"21",
  "581":"wool",
  "582":"w",
  "583":"ski lift",
  "584":"siamese",
  "585":"painting",
  "586":"onions",
  "587":"men",
  "588":"lighthouse",
  "589":"italy",
  "590":"ice cream",
  "591":"honda",
  "592":"gray and white",
  "593":"grapes",
  "594":"football",
  "595":"downhill",
  "596":"candles",
  "597":"bmw",
  "598":"200",
  "599":"white and red",
  "600":"watching",
  "601":"seagulls",
  "602":"red white and blue",
  "603":"ramp",
  "604":"poles",
  "605":"plants",
  "606":"owl",
  "607":"nowhere",
  "608":"no parking",
  "609":"net",
  "610":"necklace",
  "611":"lunch",
  "612":"kia",
  "613":"jump",
  "614":"ham",
  "615":"green and white",
  "616":"fishing",
  "617":"fire truck",
  "618":"ducks",
  "619":"bow",
  "620":"bacon",
  "621":"27",
  "622":"warm",
  "623":"tulips",
  "624":"slow",
  "625":"on floor",
  "626":"on counter",
  "627":"north",
  "628":"marble",
  "629":"in bowl",
  "630":"fedora",
  "631":"door",
  "632":"dock",
  "633":"big ben",
  "634":"batting",
  "635":"b",
  "636":"3 feet",
  "637":"van",
  "638":"toyota",
  "639":"terrier",
  "640":"tennis rackets",
  "641":"stuffed animal",
  "642":"riding",
  "643":"pot",
  "644":"pepper",
  "645":"on tracks",
  "646":"krispy kreme",
  "647":"fedex",
  "648":"dodgers",
  "649":"dining room",
  "650":"crosswalk",
  "651":"cigarette",
  "652":"big",
  "653":"basketball",
  "654":"bandana",
  "655":"bakery",
  "656":"back",
  "657":"art",
  "658":"visor",
  "659":"teddy bears",
  "660":"suitcases",
  "661":"sugar",
  "662":"stairs",
  "663":"sparrow",
  "664":"shoe",
  "665":"serve",
  "666":"public",
  "667":"paint",
  "668":"newspaper",
  "669":"monkey",
  "670":"low",
  "671":"face",
  "672":"candle",
  "673":"black and red",
  "674":"apartment",
  "675":"african",
  "676":"a",
  "677":"35",
  "678":"28",
  "679":"wet",
  "680":"united",
  "681":"tattoo",
  "682":"statue",
  "683":"starbucks",
  "684":"sprinkles",
  "685":"sailboat",
  "686":"parsley",
  "687":"on right",
  "688":"on grass",
  "689":"log",
  "690":"i don't know",
  "691":"hello kitty",
  "692":"go",
  "693":"giants",
  "694":"game",
  "695":"french",
  "696":"fast",
  "697":"eagle",
  "698":"children",
  "699":"cell phones",
  "700":"broken",
  "701":"bell",
  "702":"behind",
  "703":"batter",
  "704":"38",
  "705":"work",
  "706":"wooden",
  "707":"wicker",
  "708":"watermelon",
  "709":"washington",
  "710":"very tall",
  "711":"typing",
  "712":"tank top",
  "713":"t",
  "714":"surfer",
  "715":"snowy",
  "716":"sausage",
  "717":"red and green",
  "718":"phones",
  "719":"obama",
  "720":"nighttime",
  "721":"moving",
  "722":"ladder",
  "723":"hats",
  "724":"german shepherd",
  "725":"full",
  "726":"foil",
  "727":"fireplace",
  "728":"cross country",
  "729":"chihuahua",
  "730":"chicago",
  "731":"catching",
  "732":"c",
  "733":"55",
  "734":"yellow and red",
  "735":"working",
  "736":"white and black",
  "737":"vertical",
  "738":"vanilla",
  "739":"traveling",
  "740":"towels",
  "741":"tiger",
  "742":"stuffed animals",
  "743":"stick",
  "744":"south",
  "745":"sad",
  "746":"red sox",
  "747":"potatoes",
  "748":"playing baseball",
  "749":"pigeon",
  "750":"orioles",
  "751":"one on right",
  "752":"museum",
  "753":"medium",
  "754":"mask",
  "755":"magnets",
  "756":"little",
  "757":"horns",
  "758":"hair dryer",
  "759":"foreground",
  "760":"eggs",
  "761":"east",
  "762":"daisy",
  "763":"cumulus",
  "764":"cone",
  "765":"commercial",
  "766":"ceiling",
  "767":"cargo",
  "768":"bun",
  "769":"bucket",
  "770":"bar",
  "771":"women",
  "772":"white and brown",
  "773":"waves",
  "774":"united states",
  "775":"twin",
  "776":"tray",
  "777":"transportation",
  "778":"scooter",
  "779":"sandwiches",
  "780":"roman numerals",
  "781":"roman",
  "782":"pasta",
  "783":"navy",
  "784":"lion",
  "785":"library",
  "786":"laptops",
  "787":"high",
  "788":"harley",
  "789":"garbage",
  "790":"flags",
  "791":"cleaning",
  "792":"cats",
  "793":"butterfly",
  "794":"butter",
  "795":"bus stop",
  "796":"bulldog",
  "797":"basil",
  "798":"apron",
  "799":"60",
  "800":"vest",
  "801":"tail",
  "802":"swinging",
  "803":"sweater",
  "804":"subway",
  "805":"station",
  "806":"stars",
  "807":"smile",
  "808":"shrimp",
  "809":"shallow",
  "810":"runway",
  "811":"playing game",
  "812":"pineapple",
  "813":"pickles",
  "814":"pelican",
  "815":"peace",
  "816":"party",
  "817":"outdoor",
  "818":"on street",
  "819":"microphone",
  "820":"harley davidson",
  "821":"green and yellow",
  "822":"glazed",
  "823":"europe",
  "824":"driving",
  "825":"cookies",
  "826":"ceramic",
  "827":"cart",
  "828":"calico",
  "829":"bikini",
  "830":"32",
  "831":"10 feet",
  "832":"yellow and black",
  "833":"wild",
  "834":"uphill",
  "835":"tusks",
  "836":"tall",
  "837":"steak",
  "838":"sony",
  "839":"smiling",
  "840":"serving",
  "841":"sauce",
  "842":"railing",
  "843":"pork",
  "844":"polka dot",
  "845":"pigeons",
  "846":"pickle",
  "847":"parked",
  "848":"on tower",
  "849":"mushrooms",
  "850":"lots",
  "851":"leash",
  "852":"handle",
  "853":"halloween",
  "854":"hair",
  "855":"grill",
  "856":"golden retriever",
  "857":"goat",
  "858":"french fries",
  "859":"forward",
  "860":"egg",
  "861":"crane",
  "862":"cleats",
  "863":"cherry",
  "864":"chandelier",
  "865":"chain",
  "866":"camouflage",
  "867":"british airways",
  "868":"barn",
  "869":"bags",
  "870":"45",
  "871":"x",
  "872":"west",
  "873":"wave",
  "874":"watching tv",
  "875":"wagon",
  "876":"vases",
  "877":"straight",
  "878":"store",
  "879":"soccer ball",
  "880":"smoothie",
  "881":"selfie",
  "882":"racing",
  "883":"pizza cutter",
  "884":"pig",
  "885":"pier",
  "886":"piano",
  "887":"oil",
  "888":"nokia",
  "889":"modern",
  "890":"laying",
  "891":"kids",
  "892":"gothic",
  "893":"germany",
  "894":"garage",
  "895":"finch",
  "896":"empty",
  "897":"desert",
  "898":"deer",
  "899":"corn",
  "900":"cook",
  "901":"cones",
  "902":"circles",
  "903":"catching frisbee",
  "904":"candy",
  "905":"california",
  "906":"black and yellow",
  "907":"beard",
  "908":"barbed wire",
  "909":"army",
  "910":"all",
  "911":"adult",
  "912":"33",
  "913":"26",
  "914":"wires",
  "915":"water bottle",
  "916":"washington dc",
  "917":"waiting",
  "918":"toothbrushes",
  "919":"toaster oven",
  "920":"taxi",
  "921":"tag",
  "922":"suv",
  "923":"string",
  "924":"stool",
  "925":"setting",
  "926":"santa",
  "927":"power lines",
  "928":"poodle",
  "929":"pilot",
  "930":"owner",
  "931":"one on left",
  "932":"on building",
  "933":"italian",
  "934":"hungry",
  "935":"harness",
  "936":"half",
  "937":"france",
  "938":"fell",
  "939":"emirates",
  "940":"dry",
  "941":"dirt bike",
  "942":"controller",
  "943":"can",
  "944":"bull",
  "945":"british",
  "946":"bowling",
  "947":"bib",
  "948":"behind fence",
  "949":"baseball field",
  "950":"australia",
  "951":"asphalt",
  "952":"animals",
  "953":"44",
  "954":"29",
  "955":"2013",
  "956":"150",
  "957":"yellow and white",
  "958":"woods",
  "959":"volleyball",
  "960":"vegetable",
  "961":"traffic light",
  "962":"traffic",
  "963":"throwing",
  "964":"thin",
  "965":"swan",
  "966":"skull",
  "967":"skier",
  "968":"ship",
  "969":"san francisco",
  "970":"rural",
  "971":"polka dots",
  "972":"pitching",
  "973":"panda",
  "974":"out",
  "975":"nintendo",
  "976":"mozzarella",
  "977":"maple",
  "978":"man on right",
  "979":"man on left",
  "980":"m",
  "981":"lilies",
  "982":"kite flying",
  "983":"in field",
  "984":"ice",
  "985":"hospital",
  "986":"farm",
  "987":"do not enter",
  "988":"dark",
  "989":"daisies",
  "990":"curly",
  "991":"cupcake",
  "992":"cucumber",
  "993":"corner",
  "994":"clock tower",
  "995":"chips",
  "996":"cheesecake",
  "997":"chairs",
  "998":"center",
  "999":"cardboard",
  "1000":"business"
}

  $(document).ready(function(){
    var arr = $.map(answers, function(el) { return el });
    $( "#answer" ).autocomplete({
      source: arr
    });
  });

  // Overriden 
  Dropzone.options.myDropzone = {
    uploadMultiple: false,
    autoProcessQueue: true,
    maxFiles: 10,

    init: function() {
      var myDropzone = this;
      this.hiddenFileInput.removeAttribute('multiple');
      myDropzone.on('success', function(file, data){
        console.log(data);
        $("#inputImageAfterUpload").attr('src', data['file_path']);
        $("#ResultDiv").show();
        $("#show-grad-cam-result").hide();
        $("#demoType").val("uploadedImageType");
        $("#question").val("");
        $("#answer").val("");
        scrollToElement($("#termstart"));
        $('#comments').prepend('<br>');
        $('#comments').prepend('<li>' + "Image uploaded successfully..." + '</li>');
        scrollToElement($("#resultHeading"));
      });
    }
  }
</script>

<script type="text/javascript">


$(document).ready(function(){
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);

  socket.onopen = function() {
      console.log("User connected to the socket with socketid "+ "{{socketid}}");
      socket.send("{{ socketid }}");
  }

  socket.onmessage = function(response) {
    console.log("Getting response from the worker.....");
    console.log(JSON.parse(response.data));

    response = JSON.parse(response.data);

    if ("info" in response){
      console.log("Info is there as the key");
    }

    if ("terminal" in response) {
      $('#comments').prepend('<li>' + response['terminal'] + '</li>');
    }

    if("result" in response){

      result = JSON.parse(response['result']);
      console.log(result);
      var d = new Date();
      $("#overImg1").attr("src", result['input_image']);
      $("#img1").attr("src",result['vqa_gcam_raw']+"?"+d.getTime());
      $("#img2").attr("src",result['vqa_gb']+"?"+d.getTime());
      $("#img3").attr("src",result['vqa_gb_gcam']+"?"+d.getTime());
      $("#predictedAnswer").text(result['answer']);
      $("#inputAnswer").text(result['input_answer']);
      $("#show-grad-cam-result").show();
      scrollToElement($("#show-grad-cam-result"));
    }

  }
});

  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };

function submitDemoImage(src){
  $("#demoType").val("demoImageType");
  $("#show-grad-cam-result").hide();
  $("#question").val("");
  $("#answer").val("");
  var img_path = getLocation(src).pathname;
  $("#inputImageAfterUpload").attr('src', img_path);
  $("#ResultDiv").show();
  $('#comments').prepend('<br>');
  $('#comments').prepend('<li>' + "Submitted demo image" + '</li>');
  scrollToElement($("#termstart"));
  scrollToElement($("#resultHeading"));
}

function submitImageForVqa () {
  $("#show-grad-cam-result").hide();
  var question = $("#question").val();
  var answer = $("#answer").val();
  var demo_type = $("#demoType").val();
  var l = $("#inputImageAfterUpload")[0].src;
  var img_path = getLocation(l).pathname;

  $.ajax({
    type    : 'POST', // define the type of HTTP verb we want to use (POST for our form)
    url     : '{% url 'vqa' %}', // the url where we want to POST
    data    : { 'img_path': img_path, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'question': question, 'answer': answer, 'socketid': "{{socketid}}"} // our data object
  })// using the done promise callback
  .done(function(response) {
    console.log("Ajax call completed successfully.")
  });
}

</script>
<br>
  <div class="page-header">
    <h2 id="resultHeading" class="center">Result of Grad-CAM for Visual Question Answering</h2>
  </div>
  <br>
<div id="ResultDiv" class="row" style="display:None;">
  <div class="col-md-5" style="padding-bottom: 30px; clear: both;">
    <img class="img-responsive" src="" style="height: 300px;" id="inputImageAfterUpload">
  </div>
  <div class="col-md-7" style="padding-bottom: 30px;">
  <input id="question" class="form-control" name="question" placeholder="Enter the question" required><br>
  <input id="answer" class="form-control" name="answer" placeholder="Answer(Optional)"><br>
    <input type="button" value="Submit" onclick="submitImageForVqa()" class="btn btn-primary">
  </div>
</div>
  <div class="row demoImages" style="display:None;" id="show-grad-cam-result" >
    <div class="col-md-12 resultText">
      <h3 style="display: inline;" align="center">Predicted Answer : &nbsp;</h3>
      <h3 id="predictedAnswer" style="display: inline;" class="center"></h3>
    </div>

    <div class="col-md-12 resultText">
      <h3 style="display: inline;" class="center">Generating Grad-CAM visualizations for: &nbsp;</h3>
      <h3 id="inputAnswer" style="display: inline;" align="center"></h3>
    </div>

  <div class="row">
    
    <div class="col-md-4">
      <img src="" class="col-md-12 finalImages" id="img2">
        <p class="caption" style="font-size: 14 px;" align="left">Guided Backprop</p>
    </div>
    <div class="col-md-4">
      <img src="" class="over col-md-12 finalImages" id="overImg1" />
      <img src="" class="under col-md-12 finalImages" id="img1">
      <p class="caption" style="font-size: 14 px;" align="left" id="gradCamCaption">Grad-CAM</p>
    </div>
    <div class="col-md-4">
      <img src="" class="col-md-12 finalImages" id="img3">
        <p class="caption" style="font-size: 14 px; padding-left: 5px;" align="left">Guided Grad-CAM</p>
    </div>
  </div>
  </div>
{% endblock %}

{% block credits %}
<h2 class="page-header"> Credits </h2>
<font size="4">
  <a href="https://github.com/VT-vision-lab/VQA_LSTM_CNN">Code for VQA Model</a><br>
    Built by <a href="http://github.com/DESHRAJ" target="_blank">@deshraj</a><br>
  <br><br>
</font>
<br>
  </div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</html>
{% endblock %}
