{% extends 'base.html' %}

{% block header_content %}

<a href="https://github.com/DESHRAJ/grad-cam" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:2000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="container">
    <div class="page-header">
        <h1 align="center">Grad-CAM: Gradient-weighted Class Activation Mapping</h1>
        <br><h4>Grad-CAM highlights regions of the image the captioning model looks at while making predictions.</h4>
        <font size="4">
            <p>
                Torch code for Grad-CAM is available <a href="//github.com/ramprs/grad-cam">here</a>. Browsers currently supported by the demo: Google Chrome, Mozilla Firefox.
            </p>
        </font>
    </div>
</div>

{% endblock %}

{% block demo_images %}

<div class="container">
    <div class="page-header">
        <h2>Try Grad-CAM: Sample Images</h2>
        <br>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <font size="4">Click on one of these images to send it to our servers (Or <a class="button_link" onclick="scrollToElement($('#userImages'))">upload</a>
                    your own images below)</font>
            </div>
            <div id="show-demo-images-btn" class="col-md-4">
            <button  class="btn btn-info">Show Demo Images</button>
            </div>
        </div>
         <div class="row hiddenDiv demoImages" id="demoImages1">
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000125524.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000396387.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000008401.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
         </div>
         <div class="row hiddenDiv demoImages" id="demoImages2">
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000381246.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000223766.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="/media/grad_cam/demo_captioning/COCO_val2014_000000096638.jpg"
                 onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <br>
         </div>
        <div class="row randomImages" id="demoImages3">
            <img src="{{ demo_images.0 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="{{ demo_images.1 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="{{ demo_images.2 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
        </div>
        <div class="row randomImages" id="demoImages4">
            <img src="{{ demo_images.3 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="{{ demo_images.4 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
            <img src="{{ demo_images.5 }}"
                  onclick="submitDemoImage(this.src)" class="demo_img col-md-4"></img>
             <br>
        </div>
        Note: nothing is pre-computed for these images. They are treated as a fresh upload with every click.
    </div>
</div>
</div>

{% endblock %}

{% block form %}
<style type="text/css">

  .caption {
    /*display: block;*/
    /*text-align: center;*/
    font-size: 18px !important;
    font-weight: bold;
}

#inputCaption, #predictedCaption{
    font-weight: bold;
}

.under
{
position:absolute;
/*left:0px;
top:0px;*/
z-index:-1;
}

.over
{
position:absolute;
/*left:40px;*/
/*top:10px;*/
z-index:0;
mix-blend-mode: multiply;
}

#gradCamCaption{
  position: relative;
  padding-top: 350px;
}

.finalImages{
  width: 350px !important;
  height: 350px !important;
  padding: 6px;
}

.resultText{
  margin-bottom: 15px !important;
}

</style>

<div class="container">
  <div class="page-header">
    <h2 id="userImages">Try Grad-CAM On Your Images</h2>
  </div>

  <form id="my-dropzone" method="post" class="dropzone
  " action="{% url "upload" %}" enctype="multipart/form-data">
  <input type="hidden" id="demoType" name="demo_type" value=""> 
  <input type="hidden" id="appType" name="type" value="captioning">

  {% csrf_token %}

  {% include 'form.html' %}
  </form>

{% endblock %}

{% block result %}
<script type="text/javascript">
  // Overriden 
  Dropzone.options.myDropzone = {
    autoProcessQueue: true,
    uploadMultiple: false,
    maxFiles: 10,

    init: function() {
      var myDropzone = this;

      myDropzone.on('success', function(file, data){
        console.log(data);
        $("#inputImageAfterUpload").attr('src', data['file_path']);
        $("#ResultDiv").show();
        $("#show-grad-cam-result").hide();
        $("#demoType").val("uploadedImageType");
        $("#question").val("");
        $("#Caption").val("");
        $('#comments').prepend('<br>');
        $('#comments').prepend('<li>' + "Image uploaded successfully..." + '</li>');
        scrollToElement($("#termstart"));
        scrollToElement($("#ResultDiv"));
      });
    }
  }
</script>

<script type="text/javascript">


$(document).ready(function(){
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);

  socket.onopen = function() {
      console.log("User connected to the socket with socketid "+ "{{socketid }}");
      socket.send("{{ socketid }}");
  }

  socket.onmessage = function(response) {
    console.log("Getting response from the worker.....");
    console.log(JSON.parse(response.data));

    response = JSON.parse(response.data);

    if ("info" in response){
      console.log("Info is there as the key");
    }

    if ("terminal" in response){

      $('#comments').prepend('<li>' + response['terminal'] + '</li>');
    }

    if("result" in response){

      result = JSON.parse(response['result']);
      var d = new Date();
      $("#inputCaption").text(result['input_caption']);
      $("#predictedCaption").text(result['pred_caption']);
      $("#overImg1").attr("src", result['input_image']);
      $("#img1").attr("src",result['captioning_gcam_raw']+"?"+d.getTime());
      $("#img2").attr("src",result['captioning_gb']+"?"+d.getTime());
      $("#img3").attr("src",result['captioning_gb_gcam']+"?"+d.getTime());
      $("#show-grad-cam-result").show();
      scrollToElement($("#show-grad-cam-result"));
      $('#comments').prepend('<br>');
    }
  }
});

  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };

function submitDemoImage(src){
  var img_path = getLocation(src).pathname;
  $("#inputImageAfterUpload").attr('src', img_path);
  $("#show-grad-cam-result").hide();
  $("#Caption").val("");
  $("#ResultDiv").show();
  scrollToElement($("#termstart"));
  $('#comments').prepend('<br>');
  $('#comments').prepend('<li>' + "Submitted demo image" + '</li>');
  scrollToElement($("#ResultDiv"));
}

function submitImageForCaptioning () {
  var caption = $("#Caption").val();
  var l = $("#inputImageAfterUpload")[0].src;
  var img_path = getLocation(l).pathname;

  $.ajax({
    type    : 'POST', // define the type of HTTP verb we want to use (POST for our form)
    url     : '{% url 'captioning' %}', // the url where we want to POST
    data    : { 'img_path': img_path, 'csrfmiddlewaretoken': "{{ csrf_token }}", 'caption': caption, 'socketid': "{{ socketid }}"} // our data object
  })// using the done promise callback
  .done(function(response) {
    console.log("Ajax call completed successfully");
  });
}
</script>
<br>
  <div class="page-header">
    <h2 id="resultHeading" class="center">Result of Grad-CAM for Captioning</h2>
  </div>
<div id="ResultDiv" class="row" style="padding-bottom:50px; display:None;">
  <div class="col-md-5" style="padding-bottom: 30px; clear: both;">
    <img class="img-responsive" src="" style="height: 300px;" id="inputImageAfterUpload">
  </div>
  <div class="col-md-7" style="padding-bottom: 30px;">
    <input id="Caption" class="form-control" name="caption" placeholder="Enter the caption..."><br>
    <input type="button" value="Submit" onclick="submitImageForCaptioning()" class="btn btn-primary">
</div>
</div>

<div class="row demoImages" style="display:None;" id="show-grad-cam-result" >

  <div class="col-md-12 resultText">
    <h3 style="display: inline;" align="center">Predicted Caption : &nbsp;</h3>
    <h3 id="predictedCaption" style="display: inline;" class="center"></h3>
  </div>

  <div class="col-md-12 resultText">
    <h3 style="display: inline;" class="center">Generating Grad-CAM visualizations for: &nbsp;</h3>
    <h3 id="inputCaption" style="display: inline;" align="center"></h3>
  </div>

  <div class="col-md-4">
    <img src="" class="col-md-12 finalImages" id="img2">
      <p class="caption" style="font-size: 14 px;" align="left">Guided Backprop</p>
  </div>

  <div class="col-md-4">
    <img src="" class="over col-md-12 finalImages" id="overImg1" />
    <img src="" class="under col-md-12 finalImages" id="img1">
    <p class="caption" style="font-size: 14 px;" align="left" id="gradCamCaption">Grad-CAM</p>
  </div>

  <div class="col-md-4">
    <img src="" class="col-md-12 finalImages" id="img3">
      <p class="caption" style="font-size: 14 px; padding-left: 5px;" align="left">Guided Grad-CAM</p>
  </div>

</div>
{% endblock %}

{% block credits %}
<h2 class="page-header"> Credits </h2>
  <font size="4">
    <a href="https://github.com/karpathy/neuraltalk2">Code for Neuraltalk2</a><br>
    Built by <a href="http://github.com/DESHRAJ" target="_blank">@deshraj</a>
    <br><br>
  </font>
  <br>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</html>
{% endblock %}
